@use "variables" as *;

.game-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.play-btn {
  background-color: $black;
  border: 2px solid $white;
  border-radius: 10px;
  color: inherit;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  transition: all .2s ease;

  &:hover {
    border: 2px solid $pink;
    color: $pink;
  }

  & p {
    letter-spacing: 1px;
    margin: 0;
  }
}

.move-btns-container {
  display: none;
}

.move-btn {
  background-color: $off-white;
  border: none;
  margin: 0;
  width: 33.33%;

  & .move-icon {
    transition: all .4s ease;
  }

  &:hover .move-icon {
    transform: scale(1.1);
  }
}

@media only screen and (min-width: 400px) and (orientation: portrait) {
  .play-btn {
    font-size: 2.6rem;
    padding: 2rem 6rem;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .play-btn {
    font-size: 3rem;
    padding: 2rem 8rem;
  }
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
  .play-btn {
    font-size: 3.5rem;
    margin: 4rem;
  }
}

@media only screen and (min-width: 900px) and (orientation: portrait) {
  .play-btn {
    font-size: 4.5rem;
    padding: 3rem 8rem;
  }
}

@media only screen and (min-width: 480px) and (orientation: landscape) {
  .game-controls {
    height: 100%;
    left: auto;
    right: 0;
    max-width: 20vw;
  }

  .play-btn {
    padding: 1.5rem 1rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    & p {
      letter-spacing: 0;
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
  }

  .move-btns-container {
    height: 100%;
    flex-flow: column nowrap;
  }

  .move-btn {
    height: 33.33%;
    width: 100%;
  }
}

@media only screen and (min-width: 640px) and (orientation: landscape) {
  .play-btn {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
  .play-btn {
    font-size: 3rem;
    padding: 3rem 2.5rem;
  }
}

@media only screen and (min-width: 1020px) and (orientation: landscape) {
  .game-controls {
    height: auto;
    left: 0;
    right: 0;
    max-width: unset;
  }

  .move-btns-container {
    height: auto;
    flex-flow: row nowrap;
  }

  .play-btn {
    position: static;
    right: 1rem;
    top: 50%;
    transform: none;
    
    & p {
      writing-mode: horizontal-tb;
      text-orientation: initial;
    }
  }
}

@media only screen and (min-width: 1300px) and (orientation: landscape) {
  .move-btn {
    padding: 1.5rem 3rem;
  }

  .play-btn {
    padding: 3rem 5rem;

    & p {
      letter-spacing: 3px;
    }
  }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
  .play-btn {
    margin-bottom: 3rem;
  }
}
