@use "variables" as *;

.game-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.play-btn {
  background-color: $black;
  border: 2px solid $white;
  border-radius: 10px;
  color: inherit;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  transition: all .2s ease;

  &:hover {
    border: 2px solid $pink;
    color: $pink;
  }
}

.move-btns-container {
  display: none;
}

.move-btn {
  background-color: $off-white;
  border: none;
  margin: 0;
  width: 33.33%;
}

@media only screen and (min-width: 400px) {
  .play-btn {
    font-size: 2.6rem;
    padding: 2rem 6rem;
  }
}

@media only screen and (min-width: 760px) {
  .play-btn {
    font-size: 3.5rem;
    margin: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  .play-btn {
    font-size: 4.5rem;
    padding: 3rem 8rem;
  }
}
