.game-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.game-controls section {
  text-align: center;
}

.move-btn {
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  visibility: hidden;
}

.move-btn:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.move-icon {
  height: 10rem;
  width: 10rem;
}

.reset-btn {
  display: none;
}