@use "variables" as *;

header {
	padding-top: 1.5rem;

	p {
		margin: 0;
	}
}

h1 {
	font-size: 3.2rem;
	margin-bottom: 2rem;	
	text-align: center;

	& span:first-child {
		color: $red;
	}

	& span:nth-child(2) {
		color: $green;
	}

	& span:last-child {
		color: $blue;
	}
}

.round-display {
	display: none;
  position: absolute;
  padding: 0 1rem 2rem;
}

.score-display {
	display: none;
  padding: 2rem 0;
  text-align: center;
}

.info-display {
	font-size: 1.9rem;
  padding: 0 .5rem 2rem;
  text-align: center;
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
	.info-display {
		padding: 1rem 2rem;
	}
}

@media only screen and (min-width: 400px) and (orientation: portrait) {
	h1 {
		font-size: 3.8rem;
	}	

	.info-display, .round-display, .score-display {
		font-size: 2.2rem;
	}
}

/* for iPhone 3/4 in landscape orientation, 480 * 320 px : */
@media only screen and (min-width: 480px) and (orientation: landscape) {
	header {
		padding-top: 1rem;
	}

  h1 {
  	font-size: 2.5rem;
  	padding-left: 1rem;
  	text-align: left;
  }

  .round-display {
  	padding: 1.5rem 1rem;
  }

  .score-display {
  	padding: 1.5rem;
  }

  .info-display {
  	font-size: 1.6rem;
  	padding: 0 1rem 2rem;
  	text-align: left;
  	max-width: 80vw;
  }
}

@media only screen and (min-width: 580px) and (orientation: portrait) {
	h1 {
		font-size: 5rem;
	}

	.info-display, .round-display, .score-display {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
	h1 {
		font-size: 6rem;
		margin: 2rem 0;
	}

	.info-display, .round-display, .score-display {
		font-size: 3rem;
		padding: 2rem;
	}
}

@media only screen and (min-width: 900px) and (orientation: portrait) {
	h1 {
		font-size: 8rem;
	}

	.info-display, .round-display, .score-display {
		font-size: 4rem;
		padding: 4rem;
	}
}