.move-icon {
  width: 50px;
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
  .move-icon {
    width: 60px;
  }

  .players-moves .move-icon {
		width: 80px;
	}
}


@media only screen and  (min-width: 400px) and (orientation: portrait) {
	.move-icon {
		width: 80px;
	}

	.players-moves .move-icon {
		width: 100px;
	}
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
	.move-icon {
		width: 120px;
	}	

	.players-moves {
		margin-top: 4rem;

		& .move-icon {
			width: 140px;
		}
	}
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
	.move-icon {
		width: 140px;
	}	

	.players-moves {
		margin-top: 5rem;

		& .move-icon {
			width: 160px;
		}
	}
}