.players {
	display: flex;
}

.player{
  height: 33vh;
  padding: 1rem;
  text-align: center;	
  width: 50%;
}

.avatar {
	width: 60px;
}

.player-avatar {
	width: 75px;
}

@media only screen and (min-width: 360px) {
	.avatar {
		width: 60px;
	}

	.player-avatar {
		width: 75px;
	}
}

@media only screen and (min-width: 400px) {
	.player-name {
		font-size: 2.8rem;
	}	

	.avatar {
		width: 80px;
	}

	.player-avatar {
		width: 102px;
	}
}


