.round-display {
  position: absolute;
  padding: 2rem 1rem;
}

.score-display {
  padding: 2rem 0;
  text-align: center;
  visibility: hidden;
}

.info-display {
  padding: 2rem 0;
  text-align: center;
}